body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
}

.block-1 {
  margin: 20px;
  padding: 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 95%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.searchBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 650px;
  height: 45px;
  border: 1px solid #b6b6b6;
  border-radius: 40px/40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 15px;
  font-size: 16px;
  outline: none;
}

.searchBar:hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 650px;
  height: 45px;
  border: 1px solid #b6b6b6;
  border-radius: 40px/40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 0px 3px #b6b6b6;
          box-shadow: 0px 0px 3px #b6b6b6;
  outline: none;
}

.photo-and-points {
  position: relative;
  margin-left: auto;
  left: 40px;
}

.photo {
  border: 1px;
  border-radius: 100%;
}

.micro-and-founder {
  position: relative;
  right: 80px;
}

.block-2 {
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: 10px;
  left: 140px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  width: 700px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #008cff;
}

.video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #7d7d7d;
}

.video:hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #008cff;
  cursor: pointer;
}

.settings-txt {
  color: #7d7d7d;
}

.settings-txt:hover {
  color: #008cff;
  cursor: pointer;
}

.instruments-txt {
  color: #7d7d7d;
}

.instruments-txt:hover {
  color: #008cff;
  cursor: pointer;
}

hr {
  border: none;
  background-color: #b6b6b6;
  width: 100%;
  height: 1px;
  padding: 0;
  margin: 0;
  position: relative;
  bottom: 10px;
}

.aboutThisResult {
  font-size: 12px;
  color: #7d7d7d;
  position: relative;
  top: 10px;
  left: 550px;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1400px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-1 {
  margin-left: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 700px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.underHead {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-txt {
  font-size: 12px;
  color: #b6b6b6;
  position: relative;
  bottom: 10px;
}

.including-txt {
  font-size: 16px;
  position: relative;
  bottom: 10px;
}

.search-txt {
  font-size: 14px;
  position: relative;
  bottom: 32px;
}

.link-1 {
  color: #00009b;
}

.link-1:hover {
  color: #00009b;
  text-decoration: underline;
  cursor: pointer;
}

.link {
  color: #00009b;
  position: relative;
  font-size: 18px;
}

.link:hover {
  font-size: 18px;
  color: #00009b;
  text-decoration: underline;
  cursor: pointer;
}

.greenLink {
  font-size: 12px;
  color: green;
  position: relative;
  bottom: 15px;
}

.box-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 700px;
  height: 200px;
  border: 1px solid #b6b6b6;
  border-radius: 10px/10px;
  position: relative;
  right: 10px;
  bottom: 20px;
}

.box-1-txt {
  width: 450px;
  position: relative;
  left: 10px;
}

.box-1-link {
  position: relative;
  left: 10px;
  top: 20px;
}

.box-1-img {
  position: relative;
  margin-left: auto;
  bottom: 215px;
  right: 2px;
}

.link-2 {
  color: #00009b;
  position: relative;
  font-size: 14px;
}

.text {
  font-size: 14px;
  color: #7d7d7d;
  position: relative;
  bottom: 22px;
}

.box-2 {
  width: 450px;
  height: 620px;
  position: relative;
  border: 1px solid #b6b6b6;
  border-radius: 10px/10px;
}

.box-2-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #b6b6b6;
  padding: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.headline {
  font-size: 30px;
  position: relative;
  bottom: 20px;
}

.underHeadline {
  font-size: 14px;
  color: #7d7d7d;
  position: relative;
  top: 10px;
  right: 65px;
}

.imgHeader {
  margin-left: auto;
}

.box-2-body {
  padding-left: 10px;
  font-size: 14px;
}

.peopleSearch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 5px;
}

.search-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 14px;
  margin-left: 5px;
}

.link-3 {
  color: #00009b;
  font-size: 14px;
}

.link-3:hover {
  color: #00009b;
  text-decoration: underline;
  cursor: pointer;
  font-size: 14px;
}

.dop {
  position: relative;
  bottom: 30px;
}

.box-3 {
  width: 450px;
  height: 180px;
  position: relative;
  border: 1px solid #b6b6b6;
  border-radius: 10px/10px;
  top: 50px;
}

.box-3-header {
  padding-left: 10px;
  font-size: 18px;
}

.box-3-body {
  color: #00009b;
  font-size: 14px;
  padding-left: 10px;
}

.box-3-body:hover {
  color: #00009b;
  text-decoration: underline;
  cursor: pointer;
  font-size: 14px;
  padding-left: 10px;
}

.box-3-under {
  font-size: 14px;
  padding-left: 10px;
  position: relative;
  bottom: 5px;
}
/*# sourceMappingURL=style.css.map */